<nav class="navbar bg-primary">
  <div class="container-fluid">
    <span class="navbar-brand m-0.5 fw-semibold ">Image-optimaization</span>
  </div>
</nav>
<nav class="navbar sticky-top bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{fetch}}</a>
    <span class="navbar-text">
      <button type="button" class="btn btn-info mx-1" (click)="fetchPrev()">Previous</button>
      <button type="button" class="btn btn-dark mx-1" (click)="fetchNext()">Next</button>
    </span>
  </div>
</nav>

<div class="container mt-2">

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent elementum eros eu pretium mattis. Integer vitae consectetur enim. Praesent consectetur massa nec elit cursus ornare. Maecenas sit amet rhoncus justo. Donec fermentum, tellus et posuere laoreet, ex orci ultrices dolor, eget interdum sapien nisi accumsan sem. Ut vitae efficitur nulla. Ut eu diam et sem accumsan hendrerit vel vitae turpis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Maecenas fermentum aliquam consequat. In hac habitasse platea dictumst. Nulla a ex consequat, vulputate mi in, tincidunt dolor. In turpis odio, porttitor non justo ac, venenatis rhoncus neque. Fusce diam ligula, dapibus mollis lobortis ac, gravida vitae orci.

  Aliquam turpis orci, venenatis sed massa sed, pulvinar ultricies elit. Nam et ex vulputate, malesuada dolor ut, aliquam arcu. Nullam lobortis bibendum augue et luctus. Fusce aliquet sem orci, non faucibus justo auctor nec. Nunc sed ligula ut eros condimentum mollis et ac nisi. Phasellus malesuada, metus id porttitor consectetur, mauris odio fringilla leo, sit amet suscipit ex lacus ac erat. Vivamus rhoncus interdum sagittis. Maecenas auctor urna metus, quis feugiat tortor tincidunt eu. Sed lacinia metus et luctus consequat. Proin volutpat, nisi vel porttitor feugiat, nunc lectus pulvinar sem, sit amet lacinia mi augue id lorem. Nunc at tempus justo. Duis sed commodo arcu. Fusce massa metus, aliquet id suscipit et, fermentum at dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  
  Suspendisse vestibulum dolor ac porttitor commodo. Phasellus molestie odio ut odio volutpat malesuada. Vivamus in hendrerit neque, tempor efficitur ex. Morbi sodales, ex at commodo blandit, risus sapien malesuada quam, vitae posuere sem nulla eu diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus convallis rutrum turpis vel rutrum. Curabitur ornare id ligula a rhoncus. Aliquam vel lectus imperdiet, mattis felis at, imperdiet turpis. Nam vulputate turpis ac dui maximus pulvinar non non arcu.
  
  Donec aliquet, mi sed accumsan fringilla, sem quam posuere lorem, eu tempus tortor ipsum ultrices velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aenean dictum ligula in rhoncus gravida. Nulla eget justo non lacus pharetra porttitor tristique ac nunc. Mauris sagittis fermentum tellus pulvinar tincidunt. Praesent porttitor est sed euismod rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum auctor, sapien et placerat aliquam, leo purus mattis est, nec cursus lacus enim hendrerit orci. In hac habitasse platea dictumst.
  
  Aenean eget risus eu turpis pretium pulvinar. Mauris molestie justo sed eros vestibulum, sed ullamcorper est tempus. Vivamus lobortis, nisl eu ullamcorper ullamcorper, elit dolor mattis tortor, nec dictum felis sem sed eros. Aenean a dui eget nisi suscipit finibus id id odio. Mauris vitae tellus dolor. Nulla hendrerit vitae dolor a efficitur. Nunc justo nibh, euismod ut felis sed, molestie euismod lorem. Mauris eleifend metus dolor, id feugiat velit molestie a. Sed commodo diam ut lacus consequat egestas. Nullam consequat condimentum justo, at condimentum massa elementum a.

  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent elementum eros eu pretium mattis. Integer vitae consectetur enim. Praesent consectetur massa nec elit cursus ornare. Maecenas sit amet rhoncus justo. Donec fermentum, tellus et posuere laoreet, ex orci ultrices dolor, eget interdum sapien nisi accumsan sem. Ut vitae efficitur nulla. Ut eu diam et sem accumsan hendrerit vel vitae turpis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Maecenas fermentum aliquam consequat. In hac habitasse platea dictumst. Nulla a ex consequat, vulputate mi in, tincidunt dolor. In turpis odio, porttitor non justo ac, venenatis rhoncus neque. Fusce diam ligula, dapibus mollis lobortis ac, gravida vitae orci.

  Aliquam turpis orci, venenatis sed massa sed, pulvinar ultricies elit. Nam et ex vulputate, malesuada dolor ut, aliquam arcu. Nullam lobortis bibendum augue et luctus. Fusce aliquet sem orci, non faucibus justo auctor nec. Nunc sed ligula ut eros condimentum mollis et ac nisi. Phasellus malesuada, metus id porttitor consectetur, mauris odio fringilla leo, sit amet suscipit ex lacus ac erat. Vivamus rhoncus interdum sagittis. Maecenas auctor urna metus, quis feugiat tortor tincidunt eu. Sed lacinia metus et luctus consequat. Proin volutpat, nisi vel porttitor feugiat, nunc lectus pulvinar sem, sit amet lacinia mi augue id lorem. Nunc at tempus justo. Duis sed commodo arcu. Fusce massa metus, aliquet id suscipit et, fermentum at dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  
  Suspendisse vestibulum dolor ac porttitor commodo. Phasellus molestie odio ut odio volutpat malesuada. Vivamus in hendrerit neque, tempor efficitur ex. Morbi sodales, ex at commodo blandit, risus sapien malesuada quam, vitae posuere sem nulla eu diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus convallis rutrum turpis vel rutrum. Curabitur ornare id ligula a rhoncus. Aliquam vel lectus imperdiet, mattis felis at, imperdiet turpis. Nam vulputate turpis ac dui maximus pulvinar non non arcu.
  
  Donec aliquet, mi sed accumsan fringilla, sem quam posuere lorem, eu tempus tortor ipsum ultrices velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aenean dictum ligula in rhoncus gravida. Nulla eget justo non lacus pharetra porttitor tristique ac nunc. Mauris sagittis fermentum tellus pulvinar tincidunt. Praesent porttitor est sed euismod rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum auctor, sapien et placerat aliquam, leo purus mattis est, nec cursus lacus enim hendrerit orci. In hac habitasse platea dictumst.
  
  Aenean eget risus eu turpis pretium pulvinar. Mauris molestie justo sed eros vestibulum, sed ullamcorper est tempus. Vivamus lobortis, nisl eu ullamcorper ullamcorper, elit dolor mattis tortor, nec dictum felis sem sed eros. Aenean a dui eget nisi suscipit finibus id id odio. Mauris vitae tellus dolor. Nulla hendrerit vitae dolor a efficitur. Nunc justo nibh, euismod ut felis sed, molestie euismod lorem. Mauris eleifend metus dolor, id feugiat velit molestie a. Sed commodo diam ut lacus consequat egestas. Nullam consequat condimentum justo, at condimentum massa elementum a.
</p>
</div>
<div class="pokemon-container p-1 m-1 row">
      <ng-container *ngFor="let item of data; let i = index">
        <div class="card pokemoncard col-lg-2 m-2">
          <!-- <p>{{Imgdata+ (i+1)+".png"}}</p> -->
          <img [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + (i+1+fetch) + '.png'" class="card-img-top " alt="...">
          <div class="card-body text-center fw-bold">
            <p class="card-text">{{item.name}}</p>
            <!-- {{i+1}} -->
          </div>
       </div>
      </ng-container>
   
</div>